header {
  position: relative;
  background-color: black;
  height: 60px;
  img {
    max-height: 40px;
    margin: 0 10px;
    max-width: 80vw;
  }
}

.logo-header {
  height: 60px;
  display: flex;
  align-items: center;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
